.completedChallengers {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 3.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--red);
}

.completedChallengers span:first-child {
  font-size: 1.25rem;
  color: var(--red);
}

.completedChallengers span:last-child {
  font-size: 1.5rem;
  color: var(--red);
}
